@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

html {
  transition: background-color 0.3s, color 0.3s;
}
/* Transições */
.transition-all {
  transition: all 0.2s ease-in-out;
}
