@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

html {
  transition: background-color 0.3s, color 0.3s;
}
/* Transições */
.transition-all {
  transition: all 0.2s ease-in-out;
}

header {
  
  width: 100%;
  padding: 15px 5%; /* Adapta a altura e mantém margens laterais */
  /* Para alinhar a logo e a navegação */
  display: flex;
  justify-content: space-between; /* Itens nas extremidades */
  align-items: center; /* Itens centralizados verticalmente */
}

.logo-principal {
  height: 50px;
  width: auto;
}